<% layout( 'layout' ) -%>

<div class="well well-lg">
1. This system use cookie records the user name, don't worry about other users to see the current page<br/>
2. Submit the form using the enter key<br/>
3. I wish you a happy to use
</div>


<form action="/create" method="post" accept-charset="utf-8">
<div class="input-group input-group-lg">
  <span class="input-group-addon"><%= timenow %></span>
  <input type="text" class="form-control" name="content" placeholder="Start your work plan">
</button>
</div>  
</form>
<br/>

<% todos.forEach( function ( todo ){ %>
<div class="input-group input-group-lg">

  <span class="input-group-addon"><%= todo.updated_at %></span>
  <input type="text" class="form-control" name="content" value="<%= todo.content %>">

<span class="input-group-btn">
        <a class="btn btn-default " href="/edit/<%= todo._id %>" type="button">Edit</a>
        <a class="btn btn-default " href="/destroy/<%= todo._id %>" type="button">Del</a>
      </span>
</button>
</div> 
<br/> 
<% }); %>


